body{
    margin:0px;
    font-family: 'Raleway', sans-serif;
}
/* navbar  */
#first-navbar{
    display: block;
    background-color: #C21807;
    color: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 100%;
}
#first-navbar div{ 
    display: inline;
}
#left-div{
    padding: 0px 20px;
    font-size: 40px;
}
#left-div a{
  text-decoration: none;
  color:white;
  font-size: 40px;
  font-family: 'Baloo Bhaijaan 2', sans-serif;
}

#center-div{
    padding: 0px 30px;
}
#search{
    border: 1px solid white;  
    background-color: white;
    border-radius: 19px;
    padding:10px 10px;
}
#search input{ 
    width:400px;
    border-radius: 12px;
    padding: 10px 10px;
    border: 1px solid white;  
    outline: none;
}
input{
  border: 1px solid white; 
}
#search-logo{
  height:25px;
    width: 25px;
    margin: -6px 0px;
}
#search-button{
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  position: relative;
  z-index: 7;
  border-radius:12px;
  cursor: pointer;
}
#right-div ul{
    display: flex;
    flex-direction: row;
}
#right-div ul li{
    list-style: none;
  }
#right-div ul li a{
  text-decoration: none;
  color: white;
    padding: 10px 20px;
    border-radius: 22px;
}
#right-div ul li a:hover{
    font-size:18px;
    background-color: white;
    color:red;
}
/* for search loading page */
#loading{
  height:700px;
  width:100%;
  padding: 10px 10px;
  margin: 10px 10px;
  border: 1px solif black;
}
#loading-text{
  color:black;
  font-size: 30px;
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  text-align: center;
}
/* second - navbar  */
#second-navbar{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: center;
  text-align: center;
}

#second-navbar .option:hover{
    font-size: 20px;
    color:red;
    text-decoration: underline;
    transition: all 0.2s;
}
/* third - navbar  */
#third-navbar{
  background-color: white;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
#third-navbar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  text-align: center;
}
#third-navbar ul li a{
  text-decoration: none;
  background-color: #C21807;
  color:white;
  font-family: 'Raleway', sans-serif;
  padding:10px 10px;
  margin:10px 10px;
  border-radius: 22px;
  border:1px solid #C21807;

}
#third-navbar ul li a:hover{
  font-size: 20px;
  color:red;
  background-color: white;
  transition: all 0.02s;
  border-radius: 22px;
}
/* main section --------  */
.option{
  justify-content: center;
  text-align: center;
  padding:10px 10px;
  margin:10px 10px;
  background-color: white;
  border:1px solid white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
.option:active{
  color:red;
}
.option:focus{
  color:red;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}
.articles-box{
  margin:33px 20px;
  padding:10px 10px;
  width:26%;
  border-radius: 15px;
  box-shadow:rgba(0, 0, 0, 0.22) 0px 5px 21px ,rgba(0, 0, 0, 0.22) 0px 5px 21px;
}
.articles-box a{
  text-decoration: none;
  color:black;
}

.articles-box:hover{
  width:28%;
  transition: all 0.2s;
}
.news-pic img{
  height: 218px;
  width: 348px;
}
.news-title{
  width:350px;
  margin:10px 10px;
  font-weight: 700;
  font-size: 19px;
}
.news-description{
  width: 329px;
  margin: 17px 10px;
  font-size: 15px;
  font-family: 'Baloo Bhaijaan 2', sans-serif;
}
.news-description:hover{
  color:red;
}

/* footer */
footer{
  background-color: #F9F6EE;
  color:black;
  height:auto;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
  #footer-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
  }
  #footer-heading div ul{
    list-style: none;
  }
  #footer-heading div ul li{  
    margin:18px 24px;
    font-weight: 700;
    font-size: 25px;
    color:black;
  }
  #footer-heading ul li span{ 
    padding:10px 0px;
    font-size:15px;
    font-weight: 400;
    color:black;
  }

  #footer-content{

    justify-content: center;
    margin:auto;
    text-align: center;
    margin:20px 20px 0px 20px;
    padding: 10px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }
  #footer-content ul{
    list-style: none;
  }
  #footer-content ul li{
    padding:10px 0px;
    font-size:15px;
  }
  #footer-content ul li span{ 
    padding:10px 0px;
    font-size:15px;
    font-weight: 700;
  }
  .font{
    font-size: 12px;
  }

  #footer-logo ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #footer-logo ul li{
    list-style: none;
    margin:0px 20px;
  }
  #footer-logo ul li img{
    list-style: none;
    height:33px;
    width:33px;
    border-radius: 11px;
  }
  #gmail{
    width:40px;
  }
  #logo-era{
    padding: 114px 44px;
    height: 114px;
    width: 234pxx;
  } 
  #last-line{
    background-color: #F9F6EE;
  display: flex;
  flex-direction: row;
  justify-content: center;
    text-align: center;
    align-items: center;
  }
  /* for teams logo */
  #footer-logo-teams{
    display: inline-block;
  }
  
    #footer-logo-teams ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #footer-logo-teams ul li{
      list-style: none;
      margin:0px 10px;
    }
    #footer-logo-teams ul li img{
      list-style: none;
      height:23px;
      width:23px;
      border-radius: 8px;
    }
 
/* @media only screen and (max-width:300px) {
  body{
    background-color: red;
  }
} */

@media only screen and (min-width: 300px) and (max-width:600px) {
  body{
    /* background-color: blue; */
    margin:0px;
    width: 113%;
  }
  #left-div{
    padding: 0px 0px;
    font-size: 0px;
}
  #first-navbar{
    width: 102%;
    justify-content:space-around;
}
#second-navbar {
  width: 108%;
}
  #left-div a{
    font-size: 15px;
  }
  #search input{ 
    width: 1px;
    border-radius: 12px;
    padding: 0px;
    border: 0px solid white;  
}
.option{
  font-size: 15px;
  margin:2px;
  padding:2px;
}
#seacrh{
  padding:5px 5px;
}
#search-logo{
  display: none;
}
#right-div ul li a{
  text-decoration: none;
  color: white;
    padding: 10px 3px;
    border-radius: 22px;
}
.option{
  padding: 7px 9px;
  margin: 9px 3px;
  font-size: 19px;
}
.articles-box{
  width:77%;
}
.news-pic img{
  height: 200px;
  width: 249px;
}
.news-title{
  width: 223px;
  font-size: 18px;
}
.news-description{
  width: 231px;
  font-size: 15px;
}
.articles-box{
  margin:20px 20px;
  padding:10px 10px;
}
footer{
  grid-template-columns: 1fr;
  width:109%;
}
#footer-nodiv{
  display: none;
}

}

@media only screen and (min-width: 600px) and (max-width:900px) {
  body{
    /* background-color: blue; */
    margin:0px;
    width: 113%;
  }
  #first-navbar{
    width: 102%;
    justify-content:space-around;
}
#second-navbar {
  width: 102%;
}
  #left-div a{
    text-decoration: none;
    color:white;
    font-size: 35px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
  }
  #search input{ 
    width: 36px;
    border-radius: 12px;
    padding: 10px 10px;
    border: 1px solid white;  
    outline: none;
}
.option{
  padding: 7px 9px;
  margin: 9px 3px;
  font-size: 19px;
}
.articles-box{
  width:39%;
}
.news-pic img{
  height: 209px;
  width: 241px;
}
.news-title{
  width: 223px;
  font-size: 18px;
}
.news-description{
  width: 231px;
  font-size: 15px;
}
.articles-box{
  margin:20px 20px;
  padding:10px 10px;
}
footer{
  grid-template-columns: 1fr;
}
#footer-nodiv{
  display: none;
}
}

@media only screen and (min-width: 900px) and (max-width:1200px) {
  /* body{
    background-color: green;
  } */
  #search input{ 
    width:250px;
    border-radius: 12px;
    padding: 10px 10px;
    border: 1px solid white;  
    outline: none;
}
.news-pic img{
  height: 196px;
  width: 224px;
}
.news-title{
  width: 223px;
  font-size: 18px;
}
.news-description{
  width: 231px;
  font-size: 15px;
}
.articles-box{
  margin:20px 20px;
  padding:10px 10px;
}
#logo-era{
  height: 55px;
} 
}