body{
    margin:0px;
    font-family: 'Raleway', sans-serif;
}
/* navbar  */
#first-navbar{
    display: block;
    background-color: rgb(32 33 36);
    color: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#first-navbar div{
    display: inline;
}
#left-div{
    padding: 0px 20px;
}
#center-div{
    padding: 0px 30px;

}
#search{
    border: 1px solid white;  
    background-color: white;
}
#search input{ 
    width:400px;
    border-radius: 12px;
    padding: 10px 10px;
    border: 1px solid white;  
}
#search-logo{
    height:25px;
    width: 25px;
}
#right-div ul{
    display: flex;
    flex-direction: row;
}
#right-div ul li{
    list-style: none;
}
#right-div ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 20px;
}

/* second - navbar  */
#second-navbar{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
#second-navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    text-align: center;
}
#second-navbar ul li a{
    text-decoration: none;
    color:black;
    padding:0px 10px;
}
#second-navbar ul li a:hover{
    font-size: 20px;
    color:red;
    text-decoration: underline;
}
/* main section --------  */

.section-name{
    font-size: 23px;
    font-weight: bolder;
    padding: 7px 13px;
}
.full-box{
    border:1px solid white;
    margin: 10px 91px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow:rgba(0, 0, 0, 0.22) 0px 5px 21px ,rgba(0, 0, 0, 0.22) 0px 5px 21px;
}

.news-logo{
    height: 23px;
    width: 98px;
}
.news-title a{
    text-decoration: none;
    color: black;
}
.article{
    padding:10px 10px;
    margin:10px 10px;
}
.half-box{
    border:1px solid white;
    width:25%;
    margin: 30px 10px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow:rgba(0, 0, 0, 0.22) 0px 5px 21px ,rgba(0, 0, 0, 0.22) 0px 5px 21px;
}
#all-news{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:10px 73px;
    padding: 10px 10px;
    flex-wrap: wrap;
}


.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }