body{
    margin:0px;
    font-family: 'Raleway', sans-serif;
}
/* navbar  */
#first-navbar{
    display: block;
    background-color: #C21807;
    color: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#first-navbar div{ 
    display: inline;
}
#left-div{
    padding: 0px 20px;
    font-size: 40px;
}
#left-div a{
  text-decoration: none;
  color:white;
  font-size: 40px;
}
#center-div{
    padding: 0px 30px;
}
#center-div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#center-div ul li a{
    text-decoration: none;
    color:white;
    margin: 0px 20px;
    padding: 10px 20px;
    border-radius: 22px;
}

#right-div ul{
    display: flex;
    flex-direction: row;
}
#right-div ul li{
    list-style: none;
}
#right-div ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 22px;
}
#right-div ul li a:hover{
    font-size:18px;
    background-color: white;
    color:red;
}
/* second navbar */

#second-navbar{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
#second-navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    text-align: center;
}
#second-navbar ul li a{
    text-decoration: none;
    color:black;
    padding:0px 10px;
}
#second-navbar ul li a:hover{
    font-size: 20px;
    color:red;
    text-decoration: underline;
    transition: all 0.2s;
}

/* books */
.books{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content:space-evenly;

}
.book-box{
    border-radius: 12px;
    padding: 10px 10px;
    margin: 10px 10px;
}
.img-book-box img{
    height: 297px;
    width: 214px;
}
.book-title{
    font-size: 22px;
    margin:10px 0px;
    text-align: center;
    width: 214px;
}
.book-read{
    margin:20px 10px;
    text-align: center;
}
.book-read a{
    text-decoration: none;
    color:white;
    background-color: #C21807;
    padding: 10px 64px;
    width:100%;
    border-radius: 12px;
}
.category-title{
    font-size: 23px;
    margin: 10px 10px;
}
.book-category{
    border-radius: 12px;
    padding: 10px 10px;
    margin: 10px 10px;
}
#main-section{

    padding: 10px 10px;
    margin: 10px 10px;
}
footer{
    background-color: #F9F6EE;
    color:black;
    height:auto;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
    #footer-heading{
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      
    }
    #footer-heading div ul{
      list-style: none;
    }
    #footer-heading div ul li{  
      margin:18px 24px;
      font-weight: 700;
      font-size: 25px;
      color:black;
    }
    #footer-heading ul li span{ 
      padding:10px 0px;
      font-size:15px;
      font-weight: 400;
      color:black;
    }
  
    #footer-content{
  
      justify-content: center;
      margin:auto;
      text-align: center;
      margin:20px 20px 0px 20px;
      padding: 10px 10px;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
    }
    #footer-content ul{
      list-style: none;
    }
    #footer-content ul li{
      padding:10px 0px;
      font-size:15px;
    }
    #footer-content ul li span{ 
      padding:10px 0px;
      font-size:15px;
      font-weight: 700;
    }
    .font{
      font-size: 12px;
    }
  
    #footer-logo ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #footer-logo ul li{
      list-style: none;
      margin:0px 20px;
    }
    #footer-logo ul li img{
      list-style: none;
      height:33px;
      width:33px;
      border-radius: 11px;
    }
    #gmail{
      width:40px;
    }
    #logo-era{
      padding: 114px 44px;
      height: 114px;
      width: 234pxx;
    } 
  #last-line{
    background-color: #F9F6EE;
    display: flex;
    flex-direction: row;
    justify-content: center;
      text-align: center;
      align-items: center;
  }
  
  
