body {
  background-color: #9f9da7;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(32 33 36);
}

h2 {
  font-weight: 300;
  text-align: center;
}

p {
  position: relative;
}

a{
  color: #3ca9e2;
  transition: all 0.2s ease;
}
a:hover {
  color: #329dd5;
  transition: all 0.2s ease;
}

#sign-up-box {
  background-color: #fff;
  width: 35%;
  margin: 80px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#sign-up-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  position: relative;
  display: inline-block;
  background: none;
}
input:focus {
  border-color: #3ca9e2;
}
input[type="submit"]:hover {
  background-color: #329dd5;
  transition: all 0.2s ease;
  color: white;
}

#login {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}
input[type="submit"] {
  background-color: rgb(14, 186, 244);
  font-weight: 700;
  color: white;
}